@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wdth,wght@0,100,200..900;0,125,200..900;1,100,200..900;1,125,200..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --white-semi-opaque: rgba(255, 255, 255, 0.9);
  --glass-background: rgba(255, 255, 255, 0.1);
  --glass-border: hsla(0, 0%, 100%, 0.4);
  --drop-shadow: #210a431a;
  --light-grey: #CCCCCC;
  --grey: #868684;
  --black: #000000;
  --black-opaque: #00000087;
  --accent1: #6dff60;
  --accent1-opaque: rgba(109, 255, 96, 0.5);
  --accent1-shadow: rgba(46, 148, 56, 0.25);
  --accent2: #8A38F5;
  --link-hover: var(--accent2);
  --input-text: #8A38F5;
  --warning: #f44236;

  --gap-small: 0.5rem;
  --gap-md: 1rem;
  --gap-lg: 3rem;
  --border-radius-inside: 10px;
  --border-radius-outside: 18px;
  --max-width: 450px;

  --background-color: #97bbeb;
  --footer-background-color: var(--glass-background);
  --dialog-background-color: var(--background-color);
  --dialog-backdrop-color: var(--black-opaque);
}

body {
  margin: 0;
  background: var(--background-color);
  background-image: url('/bg/bg.jpg');
  background-size: 100% 100%;
}

body.theme-admin {
  background-image: url('/bg/admin-bg.jpg');
}

body.theme-faculty {
  background-image: url('/bg/faculty-bg.jpg');
}

#root {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--black);
}

main {
  flex: 1;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  overflow: hidden;
  overflow-wrap: break-word;
  padding: var(--gap-small);
  text-wrap: balance;
  margin: 20px;
  margin-bottom: 60px;
}

article {
  /* max-width: calc(var(--max-width) * 1.25); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  gap: var(--gap-lg);
}

section {
  width: 100%;
  max-width: calc(var(--max-width) + (var(--gap-small) * 2));
}

.wide {
  max-width: none;
}

.flow-lg > * + * {
  margin-top: var(--gap-lg);
}

.flow > * + * {
  margin-top: var(--gap-md);
}

:focus-visible {
  outline: 2px solid color-mix(in oklab, var(--accent1) 70%, white);
  outline-offset: 3px;
}

.icon {
  fill: var(--black);
  transition: fill 0.2s ease;
  cursor: pointer;
}

.icon:hover {
  fill: var(--accent2);
}

li > button.nav {
  background-color: transparent;
  backdrop-filter: none; 
  border: none;
  box-shadow: none; 
  text-align: center;

  font-family: "Zalando Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  padding: 5px;
  min-width: 0;
}

li > button.nav:hover, li > button.nav:focus {
  color: var(--link-hover);
}

li > button.nav:disabled {
  color: var(--grey);
}

hr {
    width: 100%;
    height: 0px;
}

/* .upcoming-appointments {
  margin-block: 50px;
  max-width: none;
  padding-inline: var(--gap-small);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-small);
} */

.card-box {
  display: flex;
  gap: var(--gap-md);
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

div#success {
  width: 100%;
  background-color: var(--accent1-opaque);
  padding: var(--gap-small);
  backdrop-filter: blur(5px);
  border: 1px solid var(--accent1);
  box-shadow: 0 4px 6px var(--drop-shadow); 
  text-align: center;
  font-family: "Zalando Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: 800;
  color: var(--black);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 3;
}

div#success.hidden {
  display: none;
}

fieldset {
  border: 2px solid var(--glass-border);
  padding: var(--gap-small);
  border-radius: var(--border-radius-outside);
}

fieldset > legend {
    color: var(--white);
    font-family: "Zalando Sans", sans-serif;
    font-weight: 700;

}
