.material-selection-button-group {
    display: flex;
    gap: var(--gap-small);
    margin-block: var(--gap-small);
    width: 100%;
    max-width: 450px;
}

.material-selection-button-group > button {
    min-width: auto;
    width: 100%;
}

.back-button {
    flex: 2;
    text-wrap: nowrap;
    font-size: 0.85rem;
}

.equipment-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.equipment-button .button-selected {
    flex: 3;
}

fieldset {
    border: 2px solid var(--glass-border);
    padding: var(--gap-small);
    border-radius: var(--border-radius-small);
}

fieldset > legend {
    color: var(--white);
    font-family: "Zalando Sans", sans-serif;
    font-weight: 700;

}