
.edit-equipment-header {
    display: flex;
    justify-content: center;
    gap: var(--gap-small);
    align-items: center;
    width: 100%;
}

.edit-equipment-header > button {
    flex-grow: 0;
}

section.edit-equipment-wrapper {
    width: 100%;
    text-align: center;
    gap: var(--gap-small);
}

section.edit-equipment-wrapper > h1 {
    margin: 0;
}

.equipment-availability-group {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}

.file-requirements-text {
    text-align: start;
}

.date-passed {
    color: var(--grey);
}

.date-new {
    text-decoration: underline solid 2px var(--accent1);
}