.title-emphasis {
    font-size: 6rem;
    text-transform: uppercase;
    font-weight: 900;
}

input.invalid {
    border: 1px solid red;
}

input.invalid:focus, input.invalid:active {
    outline-color: red;
} 