
.equipment-list > button {
    margin-bottom: 25px;
    max-width: 450px;
}

.equipment-list :last-child {
    margin-bottom: 0;
}

.appointment-booking-wrapper {
    display: grid;
    grid-auto-columns: 300px auto;
    grid-template-areas: "sidebar main";
    width: 100%;
    gap: var(--gap-small);
    padding: var(--gap-small);
    align-items: start;
}

section.appointment-overview {
    text-align: start;
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
    cursor: pointer;
}

section.appointment-overview * {
    margin: 0;
}

section.appointment-overview > div {
    padding-inline: var(--gap-small);
}

.appointment-booking-wrapper > article {
    display: flex;
    align-items: center;
    width: 100%;
    grid-area: main;
    grid-column-start: 2;
    max-width: 100%;
}

.appointment-booking-wrapper > form {
    grid-area: main;
    width: 100%;
    max-width: none;
    justify-content: center;
}