
.equipment-list > button {
    margin-bottom: 25px;
}

.equipment-list :last-child {
    margin-bottom: 0;
}

.appointment-booking-grid {
    display: grid;
    grid-auto-columns: 305px auto;
    grid-template-areas: "sidebar main";
    width: 100%;
    max-width: 1450px;
    gap: var(--gap-small);
    padding: var(--gap-small);
    align-items: start;
}

.appointment-sidebar {
    grid-area: sidebar;
}

.appointment-sidebar > *:not(:last-child) {
    margin-bottom: 50px;
}

.appointment-booking-grid > article {
    display: flex;
    align-items: center;
    width: 100%;
    grid-area: main;
    grid-column-start: 2;
    max-width: 100%;
}

.appointment-booking-grid > form {
    grid-area: main;
    width: 100%;
    max-width: none;
    justify-content: center;
}