.equipment-list > button {
    margin-bottom: 25px;
}

.equipment-list :last-child {
    margin-bottom: 0;
}

.appointment-booking-wrapper {
    display: grid;
    grid-auto-columns: 300px auto;
    grid-template-areas: "sidebar main";
    width: 100%;
    gap: var(--gap-small);
    padding: var(--gap-small);
    align-items: start;
}

section.appointment-details {
    text-align: start;
    /* max-width: 320px; */
    grid-area: sidebar;

}

section.appointment-details > button {
    margin-block-start: var(--gap-small);
}

.appointment-booking-wrapper > article {
    display: flex;
    align-items: center;
    width: 100%;
    grid-area: main;
    grid-column-start: 2;
    max-width: 100%;
}

.appointment-booking-wrapper > form {
    grid-area: main;
    width: 100%;
    max-width: none;
    justify-content: center;
}

.appointment-booking-wrapper .calendar-form {
}

.appointment-booking-wrapper .time-form {
}
