.appointment-booking-grid {
    display: grid;
    grid-auto-columns: 305px auto;
    grid-template-areas: "sidebar main";
    width: 100%;
    max-width: 1450px;
    gap: var(--gap-small);
    padding: var(--gap-small);
    align-items: start;
}

@media (max-width: 768px) {
    .appointment-booking-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.appointment-sidebar {
    grid-area: sidebar;
}

.appointment-sidebar > *:not(:last-child) {
    margin-bottom: 50px;
}

.appointment-booking-grid > article {
    display: flex;
    align-items: center;
    width: 100%;
    grid-area: main;
    grid-column-start: 2;
    max-width: 100%;
}

/* .appointment-booking-grid > form {
    grid-area: main;
    width: 100%;
    max-width: none;
    justify-content: center;
} */