.equipment-list > button {
    margin-bottom: 25px;
}

.equipment-list :last-child {
    margin-bottom: 0;
}

.appointment-booking-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--gap-small);
    align-items: start;
}

section.appointment-details {
    text-align: start;
    max-width: 320px;
}

section.appointment-details > button {
    margin-block-start: var(--gap-small);
}

.appointment-booking-wrapper > article {
    flex: 5;

    display: flex;
    align-items: flex-start;
}

