.card {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
    justify-content: center;
    text-align: start;
    width: min(100%, 305px);
    
    padding: var(--gap-small);
    background-color: var(--glass-background);
    border: 1px solid var(--glass-border);
    border-radius: var(--border-radius-outside);
    box-shadow: 0 4px 6px var(--drop-shadow); 
    backdrop-filter: blur(5px);
}

.card > :not(hr) {
    padding: clamp(8px, 1.4vw, 10px);
}

.card > .hover {
    border: 1px solid transparent;
}

.card > .hover:hover {
    border: 1px solid var(--glass-border);
    box-shadow: 0 4px 6px var(--drop-shadow); 
    border-radius: var(--border-radius-inside);
    border: 1px solid var(--glass-border);
    cursor: pointer;
}

.card.edit-appointment {
    width: 100%;
}

.card-content-group {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    gap: var(--gap-md);
    position: relative;
}

.card-icon-text {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.dropdown-icon {
    position: absolute;
    top: 10px;
    right: 10px;
}

.card-button-group {
    display: flex;
    gap: var(--gap-md);
    justify-content: stretch;
}

.card-button-group.column {
    flex-direction: column;
}

.card.deleted {
    opacity: 0.4;
}

article.edit-appointment {
    width: 100%;
    max-width: 450px;
    display: flex;
    justify-content: center;
}

@media (max-width: 480px) {
    .card {
        width: 100%;
    }

    .card-button-group {
        flex-direction: column;
    }
}
