footer {
    background: var(--glass-background);
    
    background: var(--footer-background-color);

    backdrop-filter: blur(5px);
    /* border: 1px solid var(--glass-border); */

    padding: var(--padding-small);
    text-align: center;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: var(--gap-small);
}

footer > .information {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align: start;
    color: var(--white);
}

footer > .logo-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: var(--white);

    font-family: "Zalando Sans Expanded", sans-serif;
    font-weight: 800;
    font-size: 1.3rem;
}

@media (max-width: 768px) {
    footer > .information  {
        flex-direction: column;
        text-align: center;
    }
    footer > .logo-container {
        flex-direction: column;
        text-align: center;
    }

}

