header {
    background-color: var(--glass-background); 
    backdrop-filter: blur(5px); 
    border-radius: 15px; 
    border: 1px solid var(--glass-border);
    box-shadow: 0 4px 6px var(--drop-shadow); 
    padding: 20px;
    text-align: center;

    margin: 20px;
    height: 110px;

     /* --fx-filter: blur(4px) liquid-glass(2, 10) saturate(1.25) color-overlay(white,.3) contrast(1.25); */

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    position: sticky;
    top: 20px;
    z-index: 3;
}

header > .logo-container {
  padding: calc(var(--gap-small) - 10px);
  border: 1px solid transparent;
  /* For text */
  display: flex;
  flex-direction: column;
  text-align: start;

  font-family: "Zalando Sans Expanded", sans-serif;
  font-weight: 800;
  font-size: 1.2rem;
}


header > .logo-container:hover {
  border: 1px solid var(--glass-border);
  box-shadow: 0 4px 6px var(--drop-shadow); 
  border-radius: var(--border-radius-inside);
  border: 1px solid var(--glass-border);
  cursor: pointer;
}

header nav {
  display: flex;
  align-items: center;
  gap: 40px;
  text-wrap: nowrap;
  border: 0
}

header * {
  cursor: pointer;
}

header > div {
  display: flex;
  justify-content: space-between;
    align-items: center;
    gap: 40px;
}

header nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
  font-family: "Zalando Sans", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  padding: 0;
}

header span.user-type {
  font-family: "Zalando Sans Expanded", sans-serif;
  font-variation-settings:
    "wdth" 125;
  font-weight: 800;
  font-size: 1rem;
  text-transform: uppercase;
}

#hamburger {
  display: none;
  min-width: none;
}

img.header-logo {
  height: 65px;
}

@media (max-width: 768px) {
  #hamburger {
    display: block;
  }

  header > div {
    flex-direction: column-reverse;
    align-items: end;
    gap: 20px;
  }

  nav {
    position: absolute;
    top: 120px;
    right: 0;
    height: 0;
    overflow: hidden;
    
    flex-direction: column;

    border-radius: 15px; /* Rounded corners for a softer look */
    background-color: var(--background-color); 
    backdrop-filter: blur(5px);
    border: 1px solid var(--glass-border);
    box-shadow: 0 4px 6px var(--drop-shadow); 
  }

  nav ul {
    flex-direction: column;
  }
  nav.open {
    height: max-content;
    width: 100%;
    max-width: 450px;
    padding: 20px;
    border-width: 1px;
  }
}