.equipment-selection-button-group {
    display: flex;
    gap: var(--gap-small);
    margin-block: var(--gap-small);
    max-width: 450px;
}

.equipment-selection-button-group > button {
    min-width: auto;
    width: 100%;
}

.back-button {
    flex: 2;
    text-wrap: nowrap;
    font-size: 0.85rem;
}

.equipment-button .button-selected {
    flex: 3;
}