section.material-selection {
    margin-block-start: 50px;
    text-align: start;
}

/* button[type="submit"] {
    margin-block-start: var(--gap-small);
} */

form.material-form {
    text-align: start;
}