div.appointment-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    padding: var(--gap-small);

    background-color: var(--glass-background);
    backdrop-filter: blur(5px);
    border: 1px solid var(--glass-border);
    box-shadow: 0 4px 6px var(--drop-shadow); 
    border-radius: var(--border-radius-small);
    width: 305px;

    text-align: start;
}

div.appointment-card > div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

