*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --white-semi-opaque: rgba(255, 255, 255, 0.9);
  --light-grey: #CCCCCC;
  --grey: #868684;
  --black: hsl(0, 0%, 10%);
  --accent1: #8A38F5;
  --accent1-opaque: rgba(138, 56, 245, 0.2);
}

/* 
extralight: 200
light: 300
regular: 400
medium: 500
semibold: 600
bold: 700
extrabold: 800
black: 900

width: 
*/

body {
  margin: 0;
  font-family: "Zalando Sans", sans-serif;
  background-image: url('https://images.unsplash.com/photo-1615715874994-bb83092ef331?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')
}

#root {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  color: var(--black);
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

article {
  max-width: 850px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.limit-width {
  max-width: 500px;
}

button {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  text-align: center;

  font-family: "Zalando Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  cursor: pointer;
  color: var(--black);
  border-radius: 10px;
  padding-block: 12px;
  padding-inline: 40px;
  min-width: 450px;
}

@media (max-width: 490px) {
  button {
    width: 100%;
  }
}

button:hover, button:focus {
  background-color: var(--accent1-opaque);
}

button.button-selected {
  background-color: var(--accent1-opaque);
}

li > button.nav {
  background-color: transparent;
  backdrop-filter: none; 
  border: none;
  box-shadow: none; 
  text-align: center;

  font-family: "Zalando Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  padding: 5px;
  min-width: 0;
}

li > button.nav:hover, li > button.nav:focus {
  color: var(--accent1);
}

li > button.nav:disabled {
  color: var(--grey);
}

a {
  font-family: "Zalando Sans", sans-serif;
  font-weight: 400;
  cursor: pointer;
  color: var(--black);

}

a:hover, a:focus {
  color: var(--accent1);
}

h1 {
  font-family: "Zalando Sans Expanded", sans-serif;
  font-weight: 600;
  font-size: 3rem;
}

h2 {
  font-family: "Zalando Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;

}

input {
  width: 100%;
  min-height: 45px;
  background-color: var(--white-semi-opaque);
  border: 1px solid var(--light-grey);
  border-radius: 10px;
  color: var(--accent1);
  font-family: "Zalando Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

input::placeholder {
  color: var(--grey);
  font-family: "Zalando Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
  width: 450px;

}