@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wdth,wght@0,100,200..900;0,125,200..900;1,100,200..900;1,125,200..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {

  --white: #fff;
  --white-semi-opaque: rgba(255, 255, 255, 0.9);
  --glass-background: rgba(255, 255, 255, 0.1);
  --glass-border: hsla(0, 0%, 100%, 0.4);
  --drop-shadow: #210a431a;
  --light-grey: #CCCCCC;
  --grey: #868684;
  --black: #000000;
  --black-opaque: #00000087;
  --accent1: #6dff60;
  --accent1-opaque: rgba(109, 255, 96, 0.5);
  --accent1-shadow: rgba(46, 148, 56, 0.25);
  --accent2: #8A38F5;
  --link-hover: var(--accent2);
  --input-text: #8A38F5;
  --warning: rgb(223, 2, 2);

  --gap-small: 24px;
  --border-radius-inside: 10px;
  --border-radius-outside: 18px;
  --max-width: 450px;

  --background-color: #97bbeb;
  --footer-background-color: var(--glass-background);
  --dialog-background-color: var(--background-color);
  --dialog-backdrop-color: var(--black-opaque);
}

/* 
extralight: 200
light: 300
regular: 400
medium: 500
semibold: 600
bold: 700
extrabold: 800
black: 900

width: 
*/

body {
  margin: 0;
  font-family: "Zalando Sans", sans-serif;
  background: var(--background-color);
  background-image: url('/bg/bg.jpg');
  background-size: 100% 100%;
}

body.theme-admin {
  background-image: url('/bg/admin-bg.jpg');
}

body.theme-faculty {
  background-image: url('/bg/faculty-bg.jpg');
}

#root {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--black);
}

main {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-block: 50px;
  margin-inline: var(--padding-small);
  margin-block-end: 40px;
  text-align: center;
  overflow: hidden;
  padding: var(--gap-small);
}

article {
  max-width: calc(var(--max-width) * 1.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}

button {
  box-sizing: border-box;
  background-color: var(--glass-background);
  backdrop-filter: blur(5px);
  border: 1px solid var(--glass-border);
  box-shadow: 0 4px 6px var(--drop-shadow); 
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-family: "Zalando Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  cursor: pointer;
  color: var(--black);
  border-radius: var(--border-radius-inside);
  padding: 12px;
  width: 100%;
  max-width: 450px;
}

button.small {
  width: max-content;
}

button.back-button {
  flex: 2;
  text-wrap: nowrap;
  font-size: 0.85rem;
}

button:hover, button:focus {
  background-color: var(--accent1-opaque);
  border: 1px solid var(--accent1);
  box-shadow: 0 4px 6px var(--accent1-shadow); 
}

button.button-selected {
  background-color: var(--accent1-opaque);
  box-shadow: 0 4px 6px var(--accent1-shadow); 
}

button:disabled {
  opacity: 0.25;
  cursor: not-allowed;
}

.button-group {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  width: 100%;
  max-width: calc(var(--max-width) + (var(--gap-small) * 2));
  gap: var(--gap-small);
}

.icon {
  fill: var(--black);
  transition: fill 0.2s ease;
  cursor: pointer;
}

.icon:hover {
  fill: var(--accent2);
}

li > button.nav {
  background-color: transparent;
  backdrop-filter: none; 
  border: none;
  box-shadow: none; 
  text-align: center;

  font-family: "Zalando Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  padding: 5px;
  min-width: 0;
}

li > button.nav:hover, li > button.nav:focus {
  color: var(--link-hover);
}

li > button.nav:disabled {
  color: var(--grey);
}

a {
  font-family: "Zalando Sans", sans-serif;
  font-weight: 400;
  cursor: pointer;
  color: var(--black);
  text-decoration: none;
}

a:hover, a:focus {
  color: var(--link-hover);
}

a.highlight {
  text-decoration: underline;
} 

h1 {
  font-family: "Zalando Sans", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  font-variation-settings:
    "wdth" 125;
}

@media (max-width: 425px) {
  h1 {
    font-size: 2.25rem;
  }
}

h2 {
  font-family: "Zalando Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  /* margin: 0px; */
}

article > h2:not(:first-child) {
  margin-block-start: calc(var(--gap-small) * 2);
}

h3 {
  margin: 0;
  font-family: "Zalando Sans", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

h4 {
  font-family: "Zalando Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  margin-block-start: var(--gap-small);
  margin-block-end: calc(var(--gap-small) - 15px);
}

p {
  margin: 0;
  font-family: "Zalando Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.disclaimer {
  font-weight: 400;
  font-style: italic;
  font-size: 0.875rem;
}

.error-message {
  color: var(--warning);
  font-style: italic;
}

.text-to-copy:hover {
  text-decoration: underline solid var(--accent1);
  text-underline-offset: 0.2rem;
}

input {
  width: 100%;
  height: 45px;
  background-color: var(--white-semi-opaque);
  border: 1px solid var(--light-grey);
  border-radius: 10px;
  color: var(--input-text);
  font-family: "Zalando Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px;
  text-align: center;
}

input::placeholder {
  color: var(--grey);
  font-family: "Zalando Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

input:hover, input:focus {
  border: 1px solid var(--accent1);
}

input[type='checkbox'], input[type='radio'] {
  width: 20px;
  height: 20px;
  margin-block: 5px;
  accent-color: var(--accent1);
  outline: 1px solid var(--accent1-opaque);
}

input[type="date"] {
  color-scheme: light;
}

div.input-group-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: start;
}

div.input-group-wrapper.column {
  flex-direction: column;
  gap: 0;
}

.input-group-wrapper input[type="checkbox"] {
  flex-shrink: 0; /* Prevents checkbox from shrinking */
}

form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap-small) - 10px);
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 450px;
  /* margin: auto; */
}

form > button[type='submit'] {
  margin-block-start: var(--gap-small);
}

textarea {
  display: block;
  width: 100%;
  min-height: 150px;
  background-color: var(--white-semi-opaque);
  border: 1px solid var(--light-grey);
  border-radius: 10px;
  color: var(--input-text);
  font-family: "Zalando Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px;
  text-align: start;
}

textarea::placeholder {
  color: var(--grey);
  font-family: "Zalando Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: start;
}

textarea:hover, textarea:focus {
  border: 1px solid var(--accent1);
}

select {
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  background-color: var(--white-semi-opaque);
  border: 1px solid var(--light-grey);
  border-radius: 10px;
  color: var(--input-text);
  font-family: "Zalando Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px;
  text-align: center;

}

hr {
    width: 100%;
    height: 0px;
}

.upcoming-appointments {
  margin-block: 50px;
  max-width: none;
  padding-inline: var(--gap-small);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-small);
}

.upcoming-appointments .appointment-list {
  display: flex;
  gap: var(--gap-small);
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.appointment-buttons {
  width: 100%;
}

div#success {
  width: 100%;
  background-color: var(--accent1-opaque);
  padding: var(--gap-small);
  backdrop-filter: blur(5px);
  border: 1px solid var(--accent1);
  box-shadow: 0 4px 6px var(--drop-shadow); 
  text-align: center;
  font-family: "Zalando Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: 800;
  color: var(--black);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 3;
}

div#success.hidden {
  display: none;
}

