*,
*::before,
*::after {
  box-sizing: border-box;
}

/* :root {
  --white: #fff;
  --white-semi-opaque: rgba(255, 255, 255, 0.9);
  --glass-background: rgba(255, 255, 255, 0.1);
  --glass-border: rgba(255, 255, 255, 0.3);
  --drop-shadow: rgba(0, 0, 0, 0.1);
  --light-grey: #CCCCCC;
  --grey: #868684;
  --black: hsl(0, 0%, 10%);
  --accent1: #8A38F5;
  --accent1-opaque: rgba(138, 56, 245, 0.2);
  --accent1-shadow: rgba(138, 56, 245, 0.2);

  --gap-small: 24px;
  --border-radius-small: 10px
} */

:root {
  --wood-light: #F0E1CE;
  --wood-mid-light: #FFC18C;
  --wood-medium: #93511D;
  --wood-dark: #3D2A23;
  --wood-black: #101010;
  --wood-dark-transparent: rgba(61, 42, 35, 0.8);


  --white: #fff;
  --white-semi-opaque: rgba(255, 255, 255, 0.9);
  --glass-background: rgba(255, 255, 255, 0.1);
  --glass-border: rgba(255, 255, 255, 0.3);
  --drop-shadow: #3D2A231a;
  --light-grey: #CCCCCC;
  --grey: #868684;
  --black: var(--wood-black);
  --accent1: rgb(109, 255, 96);
  --accent1-opaque: rgba(109, 255, 96, 0.5);
  --accent1-shadow: rgba(46, 148, 56, 0.25);
  --link-hover: var(--wood-medium);
  --input-text: var(--wood-medium);
  --warning: red;

  --gap-small: 24px;
  --border-radius-small: 10px;

  --background-color: var(--wood-light);
  --background-gradient: linear-gradient(180deg, var(--wood-light) 0%, var(--wood-mid-light) 100%);

  --footer-background-color: linear-gradient(180deg, var(--wood-medium) 0%, var(--wood-dark) 100%);
  --dialog-background-color: var(--wood-medium);
  --dialog-backdrop-color: var(--wood-dark-transparent);
}

/* 
extralight: 200
light: 300
regular: 400
medium: 500
semibold: 600
bold: 700
extrabold: 800
black: 900

width: 
*/

body {
  margin: 0;
  font-family: "Zalando Sans", sans-serif;

  /* background-image: url('https://images.unsplash.com/photo-1615715874994-bb83092ef331?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); */

  background: var(--background-color);
  background: var(--background-gradient)
}

#root {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--black);
}

main {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-block: 50px;
  margin-inline: var(--padding-small);
  margin-block-end: 40px;
  text-align: center;
  overflow: hidden;
}

article {
  max-width: 850px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

.limit-width {
  max-width: 500px;
}

button {
  box-sizing: border-box;
  background-color: var(--glass-background);
  backdrop-filter: blur(5px);
  border: 1px solid var(--glass-border);
  box-shadow: 0 4px 6px var(--drop-shadow); 
  text-align: center;

  font-family: "Zalando Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  cursor: pointer;
  color: var(--black);
  border-radius: var(--border-radius-small);
  padding: 12px;
  width: 100%;
  max-width: 450px;
}

@media (max-width: 490px) {
  button {
    width: auto;
  }
}

button.small {
  min-width: 100%;
}

button:hover, button:focus {
  background-color: var(--accent1-opaque);
  border: 1px solid var(--accent1);
  box-shadow: 0 4px 6px var(--accent1-shadow); 
}

button.button-selected {
  background-color: var(--accent1-opaque);
  box-shadow: 0 4px 6px var(--accent1-shadow); 

}

button:disabled {
  opacity: 0.25;
  cursor: not-allowed;
}

li > button.nav {
  background-color: transparent;
  backdrop-filter: none; 
  border: none;
  box-shadow: none; 
  text-align: center;

  font-family: "Zalando Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  padding: 5px;
  min-width: 0;
}

li > button.nav:hover, li > button.nav:focus {
  color: var(--link-hover);
}

li > button.nav:disabled {
  color: var(--grey);
}

a {
  font-family: "Zalando Sans", sans-serif;
  font-weight: 400;
  cursor: pointer;
  color: var(--black);

}

a:hover, a:focus {
  color: var(--link-hover);
}

h1 {
  font-family: "Zalando Sans Expanded", sans-serif;
  font-weight: 600;
  font-size: 3rem;
}

h2 {
  font-family: "Zalando Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  margin-block-start: 0px;
  margin-block-end: var(--gap-small);
}

h3 {
  margin: 0;
  font-family: "Zalando Sans", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

h4 {
  font-family: "Zalando Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  margin-block-start: var(--gap-small);
  margin-block-end: calc(var(--gap-small) - 15px);
}

p {
  margin: 0;
  font-family: "Zalando Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.disclaimer {
  font-weight: 400;
  font-style: italic;
  font-size: 0.875rem;
}

.error-message {
  color: var(--warning);
  font-style: italic;
}

input {
  width: 100%;
  height: 45px;
  background-color: var(--white-semi-opaque);
  border: 1px solid var(--light-grey);
  border-radius: 10px;
  color: var(--input-text);
  font-family: "Zalando Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px;
  text-align: center;
}

input::placeholder {
  color: var(--grey);
  font-family: "Zalando Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

input:hover, input:focus {
  border: 1px solid var(--accent1);
}

input[type='checkbox'], input[type='radio'] {
  width: 20px;
  height: 20px;
  margin-block: 5px;
  accent-color: var(--accent1);
  outline: 1px solid var(--accent1-opaque);
}

div.input-group-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: start;
}

.input-group-wrapper input[type="checkbox"] {
  flex-shrink: 0; /* Prevents checkbox from shrinking */
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 450px;
}

textarea {
  display: block;
  width: 100%;
  min-height: 60px;
  background-color: var(--white-semi-opaque);
  border: 1px solid var(--light-grey);
  border-radius: 10px;
  color: var(--input-text);
  font-family: "Zalando Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px;
  text-align: start;
}

textarea::placeholder {
  color: var(--grey);
  font-family: "Zalando Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: start;
}

textarea:hover, textarea:focus {
  border: 1px solid var(--accent1);
}

.appointment-buttons {
  width: 450px;
}

.upcoming-appointments {
  margin-block: 50px;
  max-width: none;
  padding-inline: var(--gap-small);
}

.upcoming-appointments > section.appointment-list {
  display: flex;
  gap: var(--gap-small);
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

